:root {
  --paragraph-maximum-width: 75rem;
  --horizontal-padding-container: 4rem;
  --thin-grey-border: 1px solid rgba(255, 255, 255, 0.15);
  /* Colors */
  --dark-blue: #242A45;
  --color-white: #fff;
  --light-red: #FA5959; }

html {
  box-sizing: border-box;
  font-size: 50%;
  /*1 rem = 8px;*/ }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  color: var(--dark-blue); }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img, picture {
  display: block; }

.main-container {
  min-height: 100vh;
  position: relative; }
  .main-container .container {
    padding-left: var(--horizontal-padding-container, 2rem);
    padding-right: var(--horizontal-padding-container, 2rem); }

@media only screen and (min-width: 90em) {
  :root {
    --paragraph-maximum-width: 80rem; }

  html {
    font-size: 62.5%;
    /*1 rem = 10px*/ } }
.heading-1, .heading-2, .heading-4 {
  text-transform: uppercase; }

.heading-1 {
  font-size: 3.75rem;
  letter-spacing: -0.09px;
  font-weight: 500; }

.heading-2 {
  font-size: 3rem;
  letter-spacing: -0.08px; }

.heading-4 {
  font-size: 2.5rem;
  letter-spacing: 2.31px;
  font-weight: 400; }

@media only screen and (min-width: 44rem) {
  .heading-4 {
    font-size: 1.3rem;
    letter-spacing: 1.5px; } }
@media only screen and (min-width: 90em) {
  .heading-1 {
    font-size: 4.8rem;
    letter-spacing: -0.15px; }

  .heading-2 {
    font-size: 4rem;
    letter-spacing: -0.1px; } }
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem; }
  .main-header .header--logo, .main-header label {
    z-index: 4; }
  .main-header #header-checkbox-buttons {
    display: none; }
  .main-header label {
    cursor: pointer; }
    .main-header label .close-menu-icon {
      display: none; }
  .main-header .navigation-menu--header {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    position: absolute;
    inset: 0;
    min-height: 100%;
    padding-top: 13rem;
    padding-left: var(--horizontal-padding-container, 2rem);
    padding-right: var(--horizontal-padding-container, 2rem);
    padding-bottom: 5rem; }
    .main-header .navigation-menu--header::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--dark-blue, #242A45);
      opacity: 0.95;
      z-index: -1; }
    .main-header .navigation-menu--header ul {
      display: flex;
      flex-direction: column; }
      .main-header .navigation-menu--header ul li {
        padding: 3rem 0;
        border-top: var(--thin-grey-border);
        text-align: center; }
        .main-header .navigation-menu--header ul li .heading-4 {
          color: var(--color-white); }
      .main-header .navigation-menu--header ul li:last-child {
        padding-bottom: 0;
        display: block;
        padding: 1.5rem 0;
        border: 2px solid var(--color-white);
        border-radius: 5px; }
        .main-header .navigation-menu--header ul li:last-child a {
          font-weight: 500; }
    .main-header .navigation-menu--header .header-social-networks {
      display: flex;
      justify-content: center;
      column-gap: 4rem; }
  .main-header #header-checkbox-buttons:checked ~ .header--logo path {
    fill: #ffffff; }
  .main-header #header-checkbox-buttons:checked ~ .header--logo circle {
    fill: #000000; }
  .main-header #header-checkbox-buttons:checked ~ label .close-menu-icon {
    display: block; }
  .main-header #header-checkbox-buttons:checked ~ label .open-menu-icon {
    display: none; }
  .main-header #header-checkbox-buttons:checked ~ .navigation-menu--header {
    display: flex; }
  @media only screen and (min-width: 44rem) {
    .main-header {
      padding-top: 0;
      height: 4.6rem; }
      .main-header label {
        display: none; }
      .main-header .navigation-menu--header {
        display: block;
        position: static;
        z-index: auto;
        min-height: auto;
        padding-top: 0;
        padding-bottom: 0; }
        .main-header .navigation-menu--header .header-social-networks, .main-header .navigation-menu--header::before {
          display: none; }
        .main-header .navigation-menu--header ul {
          flex-direction: row;
          column-gap: 4.5rem;
          align-items: center; }
          .main-header .navigation-menu--header ul li {
            padding: 0;
            border: none; }
            .main-header .navigation-menu--header ul li .heading-4 {
              color: var(--dark-blue); }
          .main-header .navigation-menu--header ul li .heading-4:hover {
            color: var(--light-red); }
          .main-header .navigation-menu--header ul li:last-child {
            cursor: pointer;
            padding: 1rem 4rem;
            border: 2px solid var(--light-red);
            background-color: var(--light-red);
            color: var(--color-white); }
          .main-header .navigation-menu--header ul li:last-child:hover {
            background-color: #fff; }
            .main-header .navigation-menu--header ul li:last-child:hover .heading-4 {
              color: var(--light-red); } }

/*# sourceMappingURL=style.css.map */
