:root {
  --paragraph-maximum-width: 75rem;
  --horizontal-padding-container: 4rem;
  --thin-grey-border: 1px solid rgba(255, 255, 255, 0.15);
  /* Colors */
  --dark-blue: 36, 42, 69;
  --blue: #5267DF;
  --grey: #9194A2;
  --light-grey: #F7F7F7;
  --color-white: #fff;
  --light-red: #FA5959; }

html {
  box-sizing: border-box;
  font-size: 50%;
  /*1 rem = 8px;*/ }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  color: rgb(var(--dark-blue));
  font-size: 1.8rem;
  text-align: center; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

img, picture {
  display: block; }

.main-container {
  min-height: 100vh;
  position: relative;
  padding-top: 5rem;
  margin: 0 auto; }

.main-header {
  padding-left: var(--horizontal-padding-container, 2rem);
  padding-right: var(--horizontal-padding-container, 2rem); }

@media only screen and (min-width: 44rem) {
  body {
    text-align: left; }

  .main-container {
    padding-top: 4.8rem; } }
@media only screen and (min-width: 90em) {
  :root {
    --paragraph-maximum-width: 80rem;
    --horizontal-padding-container: 17rem; }

  html {
    font-size: 62.5%;
    /*1 rem = 10px*/ }

  .main-container {
    max-width: 180rem; } }
.button {
  padding: 1.7rem;
  border-radius: 5px;
  letter-spacing: 0.25px;
  font-size: 1.75rem;
  font-weight: 500;
  box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.2); }

.button--blue {
  background-color: var(--blue);
  color: var(--color-white); }

.button--grey {
  background-color: var(--light-grey);
  color: rgba(var(--dark-blue), 0.75); }

@media only screen and (min-width: 90em) {
  .button {
    font-size: 1.4rem; } }
.heading-1 {
  font-size: 3.75rem;
  letter-spacing: -0.09px;
  font-weight: 500;
  line-height: 1.4; }

.heading-2 {
  font-size: 3rem;
  letter-spacing: -0.08px; }

.heading-4 {
  font-size: 2.5rem;
  letter-spacing: 2.31px;
  font-weight: 400; }

.heading-5 {
  font-size: 2rem;
  letter-spacing: 0.35px;
  font-weight: 400; }

.default-paragraph {
  opacity: 0.5;
  max-width: var(--paragraph-maximum-width);
  line-height: 1.8; }

@media only screen and (min-width: 44rem) {
  .heading-4 {
    font-size: 1.3rem;
    letter-spacing: 1.5px; } }
@media only screen and (min-width: 90em) {
  .heading-1 {
    font-size: 4.8rem;
    letter-spacing: -0.15px; }

  .heading-2 {
    font-size: 4rem;
    letter-spacing: -0.1px; }

  .heading-5 {
    font-size: 1.6rem; } }
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.4rem; }
  .main-header .header--logo, .main-header label {
    z-index: 4; }
  .main-header #header-checkbox-buttons {
    display: none; }
  .main-header label {
    cursor: pointer; }
    .main-header label .close-menu-icon {
      display: none; }
  .main-header .navigation-menu--header {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    position: absolute;
    inset: 0;
    min-height: 100%;
    padding-top: 13rem;
    padding-left: var(--horizontal-padding-container, 2rem);
    padding-right: var(--horizontal-padding-container, 2rem);
    padding-bottom: 5rem; }
    .main-header .navigation-menu--header::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgb(var(--dark-blue));
      opacity: 0.95;
      z-index: -1; }
    .main-header .navigation-menu--header ul {
      display: flex;
      flex-direction: column; }
      .main-header .navigation-menu--header ul li {
        padding: 3rem 0;
        border-top: var(--thin-grey-border);
        text-align: center; }
        .main-header .navigation-menu--header ul li .heading-4 {
          color: var(--color-white);
          text-transform: uppercase; }
      .main-header .navigation-menu--header ul li:last-child {
        padding-bottom: 0;
        display: block;
        padding: 1.5rem 0;
        border: 2px solid var(--color-white);
        border-radius: 5px; }
        .main-header .navigation-menu--header ul li:last-child a {
          font-weight: 500; }
    .main-header .navigation-menu--header .header-social-networks {
      display: flex;
      justify-content: center;
      column-gap: 4rem; }
  .main-header #header-checkbox-buttons:checked ~ .header--logo path {
    fill: #ffffff; }
  .main-header #header-checkbox-buttons:checked ~ .header--logo circle {
    fill: #000000; }
  .main-header #header-checkbox-buttons:checked ~ label .close-menu-icon {
    display: block; }
  .main-header #header-checkbox-buttons:checked ~ label .open-menu-icon {
    display: none; }
  .main-header #header-checkbox-buttons:checked ~ .navigation-menu--header {
    display: flex; }
  @media only screen and (min-width: 44rem) {
    .main-header {
      height: 4.6rem; }
      .main-header label {
        display: none; }
      .main-header .navigation-menu--header {
        display: block;
        position: static;
        z-index: auto;
        min-height: auto;
        padding-top: 0;
        padding-bottom: 0; }
        .main-header .navigation-menu--header .header-social-networks, .main-header .navigation-menu--header::before {
          display: none; }
        .main-header .navigation-menu--header ul {
          flex-direction: row;
          column-gap: 4.5rem;
          align-items: center; }
          .main-header .navigation-menu--header ul li {
            padding: 0;
            border: none; }
            .main-header .navigation-menu--header ul li .heading-4 {
              color: rgb(var(--dark-blue)); }
          .main-header .navigation-menu--header ul li .heading-4:hover {
            color: var(--light-red); }
          .main-header .navigation-menu--header ul li:last-child {
            cursor: pointer;
            padding: 1rem 4rem;
            border: 2px solid var(--light-red);
            background-color: var(--light-red);
            color: var(--color-white); }
          .main-header .navigation-menu--header ul li:last-child:hover {
            background-color: #fff; }
            .main-header .navigation-menu--header ul li:last-child:hover .heading-4 {
              color: var(--light-red); }
      .main-header #header-checkbox-buttons:checked ~ .header--logo path {
        fill: #242A45; }
      .main-header #header-checkbox-buttons:checked ~ .header--logo circle {
        fill: #5267DF; } }
  @media only screen and (min-width: 90em) {
    .main-header .navigation-menu--header {
      padding: 0; } }

.hero-section {
  padding-top: 9.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12.5rem; }
  .hero-section picture {
    position: relative;
    overflow: hidden; }
    .hero-section picture img {
      max-width: 100%; }
    .hero-section picture::before {
      content: "";
      z-index: -1;
      width: 200%;
      height: 74%;
      background-color: var(--blue);
      border-radius: 125px;
      position: absolute;
      top: 22%;
      left: 14%; }
  .hero-section .hero-section--text {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-left: var(--horizontal-padding-container, 2rem);
    padding-right: var(--horizontal-padding-container, 2rem); }
    .hero-section .hero-section--text .buttons-browsers {
      display: flex;
      column-gap: 1.3rem;
      justify-content: center;
      flex-wrap: wrap; }
  @media only screen and (min-width: 44rem) {
    .hero-section {
      flex-direction: row-reverse;
      justify-content: space-between;
      row-gap: 0;
      column-gap: 4rem;
      padding-left: var(--horizontal-padding-container, 2rem); }
      .hero-section .hero-section--text {
        padding: 0;
        align-items: start; }
        .hero-section .hero-section--text .buttons-browsers {
          justify-content: start;
          column-gap: 2.5rem; } }
  @media only screen and (min-width: 90em) {
    .hero-section .hero-section--text .default-paragraph {
      width: 74%; } }
  @media only screen and (min-width: 112.5em) {
    .hero-section .hero-section--text {
      flex-grow: 1; }
      .hero-section .hero-section--text .default-paragraph {
        width: auto; } }

.features-section {
  padding-top: 17.5rem; }
  .features-section .features-description, .features-section #features-tabs, .features-section .feature-text {
    padding-left: var(--horizontal-padding-container, 2rem);
    padding-right: var(--horizontal-padding-container, 2rem); }
  .features-section .features-description h2 {
    margin-bottom: 2rem; }
  .features-section .features-description .default-paragraph {
    margin-bottom: 4rem; }
  .features-section ul {
    margin-bottom: 8rem; }
    .features-section ul li {
      border-top: 1px solid rgba(73, 93, 207, 0.2);
      height: 7.25rem;
      display: flex;
      align-items: stretch;
      justify-content: center; }
      .features-section ul li .heading-5 {
        display: flex;
        align-items: center;
        position: relative; }
      .features-section ul li .selected-tab.heading-5::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 4px;
        background-color: var(--light-red);
        display: block;
        left: 50%;
        transform: translateX(-50%); }
    .features-section ul li:last-child {
      border-bottom: 1px solid rgba(73, 93, 207, 0.2); }
  .features-section .feature {
    display: none; }
    .features-section .feature picture {
      margin-bottom: 5rem;
      position: relative;
      overflow: hidden;
      padding-bottom: 5rem; }
      .features-section .feature picture img {
        width: 85%;
        margin: 0 auto; }
      .features-section .feature picture::before {
        content: "";
        z-index: -1;
        width: 200%;
        height: 74%;
        background-color: var(--blue);
        border-radius: 125px;
        position: absolute;
        top: 22%;
        top: 15%;
        right: 22%;
        height: 83%; }
    .features-section .feature .feature-text {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      align-items: center; }
  .features-section .feature.selected-feature {
    display: block; }
  @media only screen and (min-width: 44rem) {
    .features-section {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .features-section .features-description, .features-section #features-tabs {
        padding-left: 0;
        padding-right: 0; }
      .features-section .features-description {
        text-align: center; }
        .features-section .features-description .default-paragraph {
          margin-left: auto;
          margin-right: auto; }
      .features-section ul {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(73, 93, 207, 0.2); }
        .features-section ul li {
          border-top: none;
          height: auto;
          display: block;
          padding: 0 6rem 3.5rem 6rem;
          position: relative; }
          .features-section ul li .heading-5 {
            position: static; }
          .features-section ul li .selected-tab.heading-5::before {
            width: 100%;
            left: 0;
            transform: none; }
        .features-section ul li:last-child {
          border-bottom: none; }
      .features-section .features-container .feature {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem; }
        .features-section .features-container .feature picture {
          display: flex;
          justify-content: end;
          margin-bottom: 0; }
          .features-section .features-container .feature picture img {
            margin: 0;
            width: 90%; }
        .features-section .features-container .feature .feature-text {
          text-align: left;
          align-items: start;
          padding-left: 0;
          padding-right: var(--horizontal-padding-container, 2rem); }
      .features-section .features-container .feature.selected-feature {
        display: grid; } }

/*# sourceMappingURL=style.css.map */
