.section-faq {
    padding-top: 18rem;
    padding-left: var(--horizontal-padding-container, 2rem);
    padding-right: var(--horizontal-padding-container, 2rem);

    .faq-text {
        margin-bottom: 9rem;
        text-align: center;
    }

    ul {
        li {
            border-bottom: var(--thin-grey-border-2);
            padding-top: 3rem;
            padding-bottom: 2rem;

            a {
                display: flex;
                justify-content: space-between;

                img {
                    width: 18px;
                    height: 12px;
                }
            }

            .default-paragraph {
                text-align: left;
                display: none;
                padding-top: 4rem;
            }
        }
    }
}
