.section-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 54rem;
    margin: 0 auto;
    padding-top: 18rem;
    padding-left: var(--horizontal-padding-container, 2rem);
    padding-right: var(--horizontal-padding-container, 2rem);

    .faq-text {
        margin-bottom: 9rem;
        text-align: center;
        .default-paragraph {
            margin: 0 auto;
        }
    }

    ul {
        margin-bottom: 6rem;
        align-self: stretch;
        li {
            border-bottom: var(--thin-grey-border-2);
            padding-top: 3rem;
            padding-bottom: 2rem;

            .question {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    width: 18px;
                    height: 12px;
                }
            }

            .question.opened {
                svg {
                    transform: rotateX(180deg);
                    path {
                        stroke: var(--light-red);
                    }
                }
            }

            .paragraph-container {
                max-height: 0;
                overflow: hidden;
                transition: all var(--default-transition-time);

                .default-paragraph {
                    text-align: left;
                    padding-top: 4rem;
                }
            }
        }
    }

    .button--blue {
        display: block;
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        padding-left: 0;
        padding-right: 0;
        .faq-text {
            margin-bottom: 5rem;
        }
    }
}
