.features-section {
    padding-top: 17.5rem;

    .features-description {
        h2 {
            margin-bottom: 2rem;
        }

        .default-paragraph {
            margin-bottom: 4rem;
        }
    }

    ul {
        margin-bottom: 8rem;

        li {
            border-top: 1px solid rgba(73, 93, 207, 0.20);
            height: 7.25rem;
            display: flex;
            align-items: stretch;
            justify-content: center;

            .heading-5 {
                display: flex;
                align-items: center;
                position: relative;
            }

            .selected-tab.heading-5::before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 90%;
                height: 4px;
                background-color: var(--light-red);
                display: block;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        li:last-child {
            border-bottom: 1px solid rgba(73, 93, 207, 0.20);
        }
    }


    .feature {
        display: none;
        picture {
            margin-bottom: 5rem;
            position: relative;
            overflow: hidden;
            padding-bottom: 5rem;

            img {
                width: 85%;
                margin: 0 auto;
            }

            &::before {
                @include blue-background-with-radius;
                top: 15%;
                right: 22%;
                height: 83%;
            }
        }

        .feature-text {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            align-items: center;
        }
    }

    .feature.selected-feature {
        display: block;
    }
}
