.features-section {
    padding-top: 17.5rem;

    .features-description, #features-tabs, .feature-text {
        padding-left: var(--horizontal-padding-container, 2rem);
        padding-right: var(--horizontal-padding-container, 2rem);
    }

    .features-description {
        h2 {
            margin-bottom: 2rem;
        }

        .default-paragraph {
            margin-bottom: 4rem;
        }
    }

    ul {
        margin-bottom: 8rem;

        li {
            border-top: 1px solid rgba(73, 93, 207, 0.20);
            height: 7.25rem;
            display: flex;
            align-items: stretch;
            justify-content: center;

            .heading-5 {
                display: flex;
                align-items: center;
                position: relative;
            }

            .selected-tab.heading-5::before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 90%;
                height: 4px;
                background-color: var(--light-red);
                display: block;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        li:last-child {
            border-bottom: 1px solid rgba(73, 93, 207, 0.20);
        }
    }


    .feature {
        display: none;
        picture {
            margin-bottom: 5rem;
            position: relative;
            overflow: hidden;
            padding-bottom: 5rem;

            img {
                width: 85%;
                margin: 0 auto;
            }

            &::before {
                @include blue-background-with-radius;
                top: 15%;
                right: 22%;
                height: 83%;
            }
        }

        .feature-text {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            align-items: center;
        }
    }

    .feature.selected-feature {
        display: block;
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        display: flex;
        flex-direction: column;
        align-items: center;

        .features-description, #features-tabs {
            padding-left: 0;
            padding-right: 0;
        }

        .features-description {
            text-align: center;
            .default-paragraph {
                margin-left: auto;
                margin-right: auto;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid rgba(73, 93, 207, 0.20);
            li {
                border-top: none;
                height: auto;
                display: block;
                padding: 0 6rem 3.5rem 6rem;
                position: relative;

                .heading-5 {
                    position: static;
                }

                .selected-tab.heading-5::before {
                    width: 100%;
                    left: 0;
                    transform: none;
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }

        .features-container {
            .feature {
                grid-template-columns: 1fr 1fr;
                column-gap: 4rem;
                picture {
                    display: flex;
                    justify-content: end;
                    margin-bottom: 0;
                    img {
                        margin: 0;
                        width: 90%;
                    }
                }
                
                .feature-text {
                    text-align: left;
                    align-items: start;
                    padding-left: 0;
                    padding-right: var(--horizontal-padding-container, 2rem);
                }
            }
            
            .feature.selected-feature {
                display: grid;
            }
        }
    }
}
