.main-footer {
    padding-top: 8rem;

    .footer-form {
        display: grid;
        justify-items: center;
        grid-template-columns: minmax(auto, 47rem);
        justify-content: center;
        padding-top: 9rem;
        background-color: var(--blue);
        padding-bottom: 4rem;
        padding-left: var(--horizontal-padding-container, 2rem);
        padding-right: var(--horizontal-padding-container, 2rem);

        .heading-6 {
            margin-bottom: 2rem;
            display: block;
        }

        .heading-2 {
            margin-bottom: 3.5rem;
            text-align: center;
        }

        .heading-2, .heading-6 {
            color: var(--color-white);
        }

        .contact-form {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: start;
            justify-self: stretch;

            .input-email-container {
                position: relative;
                border-radius: 5px;
                overflow: hidden;
                flex-grow: 1;
                .email-input {
                    outline: none;
                    padding: 0 2rem;
                    border: 2px solid transparent;
                    z-index: 2;
                    border-radius: 5px;
                    position: relative;
                    width: 100%;
                }

                .email-error-message {
                    align-items: center;
                    display: none;
                    z-index: 2;
                    height: 3.5rem;
                    font-style: italic;
                    font-weight: 500;
                    color: var(--color-white);
                    padding-left: 1rem;
                    font-size: 1.25rem;
                    position: relative;
                }

                .auxiliar-background {
                    position: absolute;
                    inset: 0;
                    background-color: var(--light-red);
                    display: none;
                }

                .icon-invalid-mail {
                    position: absolute;
                    top: 1.5rem;
                    right: 1.5rem;
                    z-index: 3;
                    display: none;
                }

                .email-input::placeholder {
                    opacity: 0.25;
                    color: rgb(var(--dark-blue));
                    font-size: 1.75rem;
                }

                .email-input:invalid {
                    border: 2px solid var(--light-red);
                }

                .email-input:invalid ~ .email-error-message {
                    display: flex;
                }

                .email-input:invalid ~ .auxiliar-background, .email-input:invalid ~ .icon-invalid-mail {
                    display: block;
                }
            }

            .button {
                display: block;
                flex-grow: 1;
                padding-top: 0;
                padding-bottom: 0;
            }

            .button, .input-email-container .email-input {
                min-height: 6rem;
            }
        }
    }

    .footer-nav {
        padding: 5rem 0;
        background-color: rgb(var(--dark-blue));
        padding-left: var(--horizontal-padding-container, 2rem);
        padding-right: var(--horizontal-padding-container, 2rem);

        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 6rem;
            color: var(--color-white);

            .header--logo {
                path {
                    fill: #ffffff;
                }
            }

            nav {
                display: flex;
                row-gap: 6rem;
                flex-direction: column;
                ul {
                    display: flex;
                    row-gap: 4rem;
                    flex-direction: column;
                    align-items: center;
                    li {
                        a {
                            text-transform: uppercase;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {

        .footer-form {
            .contact-form {
                .button {
                    flex-grow: 0;
                }
            }
        }

        .footer-nav {
            .main-content {
                flex-direction: row;
                row-gap: 0;
                column-gap: 8rem;

                nav {
                    flex-direction: row;
                    row-gap: 0;
                    justify-content: space-between;
                    flex-grow: 1;

                    ul {
                        flex-direction: row;
                        row-gap: 0;
                        column-gap: 3rem;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        padding-top: 7rem;
        .footer-form {
            .contact-form {
                .input-email-container {
                    .email-input::placeholder {
                        font-size: 1.4rem;
                    }
                }

                .button, .input-email-container .email-input {
                    min-height: 4.8rem;
                }
            }
        }
    }
}
