.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;

    .header--logo, label {
        z-index: 4;
    }

    #header-checkbox-buttons {
        display: none;
    }

    label {
        cursor: pointer;
        .close-menu-icon {
            display: none;
        }
    }

    .navigation-menu--header {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        z-index: 3;
        position: absolute;
        inset: 0;
        min-height: 100%;
        padding-top: 13rem;
        padding-left: var(--horizontal-padding-container, 2rem);
        padding-right: var(--horizontal-padding-container, 2rem);
        padding-bottom: 5rem;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--dark-blue, #242A45);
            opacity: 0.95;
            z-index: -1;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                padding: 3rem 0;
                border-top: var(--thin-grey-border);
                text-align: center;

                .heading-4 {
                    color: var(--color-white);
                }
            }
            
            li.login-link {
                padding-bottom: 0;
                a {
                    display: block;
                    padding: 1.5rem 0;
                    border: 2px solid var(--color-white);
                    border-radius: 5px;
                    .heading-4 {
                        font-weight: 500;
                    }
                }
            }
        }
        
        .header-social-networks {
            display: flex;
            justify-content: center;
            column-gap: 4rem;
        }
    }

    #header-checkbox-buttons:checked ~ .header--logo {
        path {
            fill: #ffffff;
        }

        circle {
            fill : #000000;
        }
    }

    #header-checkbox-buttons:checked ~ label {
        .close-menu-icon {
            display: block;
        }

        .open-menu-icon {
            display: none;
        }
    }

    #header-checkbox-buttons:checked ~ .navigation-menu--header {
        display: flex;
    }
    
    @media only screen and (min-width: $minWidthTabletPortrait) {
        label, .navigation-menu--header .header-social-networks {
            display: none;
        }
    }
}
