.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;

    .header--logo, label {
        z-index: 4;
    }

    #header-checkbox-buttons {
        display: none;
    }

    label {
        cursor: pointer;
        .close-menu-icon {
            display: none;
        }
    }

    .navigation-menu--header {
        display: none;
        z-index: 3;
        position: absolute;
        inset: 0;
        min-height: 100%;
        padding-top: 13rem;
        padding-left: var(--horizontal-padding-container, 2rem);
        padding-right: var(--horizontal-padding-container, 2rem);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--dark-blue, #242A45);
            opacity: 0.95;
            z-index: 1;
        }

        ul {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;

            li {
                padding: 3rem 0;
                border-top: var(--thin-grey-border);
                text-align: center;

                .heading-4 {
                    color: var(--color-white);
                }
            }
            
            li:last-child {
                border-bottom: var(--thin-grey-border);
            }
        }
    }

    #header-checkbox-buttons:checked ~ .header--logo {
        path {
            fill: #ffffff;
        }

        circle {
            fill : #000000;
        }
    }

    #header-checkbox-buttons:checked ~ label {
        .close-menu-icon {
            display: block;
        }

        .open-menu-icon {
            display: none;
        }
    }

    #header-checkbox-buttons:checked ~ .navigation-menu--header {
        display: block;
    }
}
