.hero-section {
    padding-top: 9.2rem;

    .hero-section--text {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        .buttons-browsers {
            display: flex;
            column-gap: 1.3rem;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
