.hero-section {
    padding-top: 9.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12.5rem;

    picture {
        position: relative;
        overflow: hidden;

        img {
            max-width: 100%;
        }

        &::before{
            content: "";
            z-index: -1;
            width: 200%;
            height: 74%;
            background-color: var(--blue);
            border-radius: 125px;
            position: absolute;
            top: 22%;
            left: 14%;
        }
    }

    .hero-section--text {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        .buttons-browsers {
            display: flex;
            column-gap: 1.3rem;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    
    @media only screen and (min-width: $minWidthTabletPortrait) { 
        flex-direction: row-reverse;
        justify-content: space-between;
        row-gap: 0;
        column-gap: 4rem;
        padding-left: var(--horizontal-padding-container, 2rem);

        .hero-section--text {
            padding: 0;
            align-items: start;
            .buttons-browsers {
                justify-content: start;
                column-gap: 2.5rem;
            }
        }
    }
    
    @media only screen and (min-width: $minWidthDesktop) { 
        .hero-section--text {
            .default-paragraph {
                width: 74%;
            }
        }
    }
    
    @media only screen and (min-width: $minWidthBigDesktop) { 
        .hero-section--text {
            flex-grow: 1;
            .default-paragraph {
                width: auto;
            }
        }
    }
}
