.button {
    padding: 1.7rem;
    border-radius: 5px;
    letter-spacing: 0.25px;
    font-size: 1.75rem;
    font-weight: 500;
    box-shadow: var(--box-shadow-buttons);
}

.button:hover {
    box-shadow: var(--box-shadow-buttons), var(--box-shadow-buttons-hover);
}

.button--blue {
    background-color: var(--blue);
    color: var(--color-white);
}

.button--blue:hover {
    background-color: var(--color-white);
    color: var(--blue);
}

.button--grey {
    background-color: var(--light-grey);
    color: rgba(var(--dark-blue), 0.75);
}

.button--grey:hover {
    background-color: var(--color-white);
    color: rgba(var(--dark-blue), 0.75);
}

.button--red {
    background-color: var(--light-red);
    color: var(--color-white);
}

.button--red:hover {
    background-color: var(--color-white);
    color: var(--light-red);
}

@media only screen and (min-width: $minWidthDesktop) {
    .button {
        font-size: 1.4rem;
    }
}