.button {
    padding: 1.7rem;
    border-radius: 5px;
    letter-spacing: 0.25px;
    font-size: 1.75rem;
    font-weight: 500;
    box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.2);
}

.button--blue {
    background-color: var(--blue);
    color: var(--color-white);
}

.button--grey {
    background-color: var(--light-grey);
    color: rgba(var(--dark-blue), 0.75);
}


@media only screen and (min-width: $minWidthDesktop) {
    .button {
        font-size: 1.4rem;
    }
}