.header-social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;

    svg:hover {
        cursor: pointer;
        path {
            fill: var(--light-red);
        }
    }
}