:root {
    --paragraph-maximum-width: 75rem;
    --horizontal-padding-container: 4rem;
    --dark-blue : #242A45;
    --color-white: #fff;
    --thin-grey-border: 1px solid rgba(255, 255, 255, 0.15);
}

html {
    box-sizing: border-box;
    font-size: 50%;  /*1 rem = 8px;*/
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img, picture {
    display: block;
}

.main-container {
    min-height: 100vh;
    position: relative;

    .container {
        padding-left: var(--horizontal-padding-container, 2rem);
        padding-right: var(--horizontal-padding-container, 2rem);
    }
}

@media only screen and (min-width: $minWidthDesktop) {

    :root {
        --paragraph-maximum-width: 80rem;
    }

    html {
        font-size: 62.5%; /*1 rem = 10px*/
    }
}
