:root {
    --paragraph-maximum-width: 75rem;
    --horizontal-padding-container: 4rem;
    --vertical-padding-container: 5rem;
    --thin-grey-border: 1px solid rgba(255, 255, 255, 0.15);
    --thin-grey-border-2: 1px solid rgba(73, 93, 207, 0.2);
    --box-shadow-buttons: 0 2px 7px 0px rgba(0, 0, 0, 0.2);
    --box-shadow-buttons-hover: 0 0 0 2px inset;
    --default-transition-time: 0.3s;
    --max-width-container: 144rem; /* The maximum width of a container in the whole site.*/
    /* Colors */
    --dark-blue : 36, 42, 69;
    --blue: #5267DF;
    --grey: #9194A2;
    --light-grey: #F7F7F7;
    --color-white: #fff;
    --light-red: #FA5959;
}

html {
    box-sizing: border-box;
    font-size: 50%;  /*1 rem = 8px;*/
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    color: rgb(var(--dark-blue));
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img, picture {
    display: block;
}

button {
    line-height: 1;
    padding-inline: 0;
    border: none;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

.main-container {
    min-height: 100vh;
    position: relative;
    padding-top: var(--vertical-padding-container);
    margin: 0 auto;
}

.main-header{
    padding-left: var(--horizontal-padding-container, 2rem);
    padding-right: var(--horizontal-padding-container, 2rem);
}

@media only screen and (min-width: $minWidthTabletPortrait) {
    body {
        text-align: left;
    }
}

@media only screen and (min-width: $minWidthDesktop) {

    :root {
        --paragraph-maximum-width: 80rem;
        --horizontal-padding-container: 17rem;
    }

    html {
        font-size: 62.5%; /*1 rem = 10px*/
    }

    .main-content {
        max-width: var(--max-width-container);
        margin: 0 auto;
    }
}
